p{
    color: #800080
}
.greenpara{
    color:#008000
}
.font{
    font-weight: bolder;
    font-size: 15px;
    font-style: italic;
    color:#580b0b;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.divstyle{
    border-style: solid;
    width: 400px;
    height: 200px;
    background-size: 100% 100%;
    background-image:url(solarsystem.png);
    background-repeat: no-repeat;
    
}
#divscroll{
    border-style: none;
    /*width: 200px;
    height: 200px;*/
    background-size: cover;
    overflow: scroll;
}
#redpara{
    color:#FF0000;
}
#italicfont{
    font-style: normal;
}

